/* HEADER CSS */

header{
    position:fixed;
    width: 100vw;
    height:10vh;
    background:black;
    display:grid;
    grid-auto-flow: column;
    justify-content:center;
    align-items:center;
    gap:1rem;
    z-index:1;
  }
  
  header a{
    text-decoration: none;
    color:#eee;
  }
  
  [aria-current="page"] {
    font-weight: bold;
  }
  