@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

body{
  font-family: 'Open Sans';
}

.edit-icon{
  fill:#4285F4;;
  border:1px solid white;
  border-radius:50%;
  padding:.4rem;
  transform:scale(1.2);
}

main{
  height:100vh;
}

main.login{
  display:grid;
  place-items:center;
}
main.login img{
  width:100px;
}

main.home, main.edit{
  padding:20vh 20vh 10vh 20vh;
}

main.home .projects{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap:1rem;
}

