/* APP CSS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

*{
  box-sizing:border-box;
}
body{
  font-family: 'Open Sans';
}

a{
  color:#4285F4;
  text-decoration: none;
}

.edit-icon{
  fill:#111;
  transform:scale(1.4);
  cursor: pointer;
}

.admin-actions{
  position:fixed;
  z-index:1;
  width:100vw;
  top:10vh;
  left:0;
  height:5vh;
  display:grid;
  place-items:center;
  background:#eee;
}

main{
  min-height:100vh;
  display:grid;
  place-items:center;
  align-content:center;
  padding:20vh;
}

main.login img{
  width:100px;
}

input, button, textarea, label .add {
  font-size:1rem;
  padding: .5rem;
  display:block;
  margin-bottom:1rem;
  cursor: pointer;
}
input, textarea{
  min-width:20rem;
  background:white;
}
textarea{
  min-width:60vw;
  min-height:10rem;
}
button{
  color:white;
  background:black;
  min-width:8rem;
}

label .add{
  text-align: center;
  padding:.3rem;
  width:8rem;
  border:1px solid #111;
}

main.edit img{
  width:8rem;
  height:8rem;
  object-fit: cover;
  margin-bottom:1rem;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
 
