/* APP CSS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

*{
  box-sizing:border-box;
}
body, html{
  font-family: 'Open Sans';
}

a{
  color:#4285F4;;
  text-decoration: none;
}

.edit-icon{
  fill:#111;
  transform:scale(1.8);
  cursor: pointer;
}

.admin-actions{
  position:fixed;
  z-index:1;
  width:100vw;
  top:10vh;
  left:0;
  height:5vh;
  display:grid;
  place-items:center;
  background:#eee;
}

main{
  min-height:100vh;
  display:grid;
  place-items:center;
  align-content:center;
  padding:20vh;
}

main.login img{
  width:100px;
}

label .add{
  text-align: center;
  padding:.3rem;
  width:8rem;
  border:1px solid #111;
}
 
@media (max-width:1000px){
  main{
    padding:20vh 5vh;
  }
}
@media (max-width:600px){
  main{
    padding:10vh 0 5vh 0;
  }
}
